<h2>Validaciones reactivas</h2>
<hr>

<div class="row">
   <div class="col">
      <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">
         <!-- Nombre -->
         <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-9">
               <input 
                  type="text" 
                  class="form-control"
                  formControlName="nombre" 
                  placeholder="Nombre de usuario">
               <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">
                  Debe ser formato nombre y apellido
               </span>
            </div>
         </div>

          <!-- Email -->
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
               <input 
                  type="email" 
                  class="form-control" 
                  formControlName="email" 
                  placeholder="Email de usuario">
               <span class="form-text text-danger" *ngIf="campoNoValido('email')">
                  {{emailErrorMsg}}
               </span>
               <!-- <span class="form-text text-danger" *ngIf="emailRequired()">
                  El correo es obligatorio
               </span>
               <span class="form-text text-danger" *ngIf="emailFormato()">
                  El formato del correo no es válido
               </span>
               <span class="form-text text-danger" *ngIf="emailTomado()">
                  El correo ya existe
               </span> -->
            </div>
         </div>

         <!-- Username -->
         <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-9">
               <input 
                  type="text" 
                  class="form-control" 
                  formControlName="username" 
                  placeholder="Código de usuario">
               <span class="form-text text-danger" *ngIf="campoNoValido('username')">
                  El username no puede ser Strider
               </span>
            </div>
         </div>

         <!-- Password -->
         <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
               <input 
                  type="password" 
                  class="form-control"
                  formControlName="password" 
                  placeholder="Contraseña">
               <span class="form-text text-danger" *ngIf="campoNoValido('password')">
                  La contraseña debe ser mayor de 6 caracteres
               </span>
            </div>
         </div>

          <!-- Password 2 -->
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Confirmar</label>
            <div class="col-sm-9">
               <input 
                  type="password" 
                  class="form-control"
                  formControlName="password2"
                  placeholder="Confirmar contraseña">
               <span class="form-text text-danger" *ngIf="campoNoValido('password2')">
                  Las contraseñas deben ser iguales
               </span>
            </div>
         </div>

         <div class="row mb-3">
            <div class="col">
               <button type="submit" class="btn btn-primary float-end" [disabled]="miFormulario.pending">Crear</button>
            </div>
         </div>
      </form>
   </div>
</div>

<h4>Form Valid: {{ miFormulario.valid }}</h4>
<h4>Form Status: {{ miFormulario.status }}</h4>
<h4>Form Pending: {{ miFormulario.pending }}</h4>
<h4>Form errors: </h4>
<pre>{{ miFormulario.errors | json }}</pre>

<h4>Nombre</h4>
<pre>{{ miFormulario.controls['nombre'].errors | json }}</pre>

<h4>Email</h4>
<pre>{{ miFormulario.controls['email'].errors | json }}</pre>

<h4>Username</h4>
<pre>{{ miFormulario.controls['username'].errors | json }}</pre>

<h4>Password</h4>
<pre>{{ miFormulario.controls['password'].errors | json }}</pre>

<h4>Confirmar</h4>
<pre>{{ miFormulario.controls['password2'].errors | json }}</pre>